<div ng-show="currentPage">
	<h1>{{currentPage.name}}</h1>

	<img class="comic-image img-responsive" src={{currentPage.image}}>

	<div class="navigation-pannel">
		<div class="first nav-button pseudo-button" ng-click="goToFirst()"><i class="fa fa-angle-double-left" aria-hidden="true"></i><p>First</p></div>
		<div class="previous nav-button pseudo-button" ng-click="gotToPrev()" ng-if="currentPage.previous"><i class="fa fa-arrow-left" aria-hidden="true"></i><p>Previous</p></div>
		<div class="next nav-button pseudo-button" ng-click="goToNext()" ng-if="currentPage.next"><i class="fa fa-arrow-right" aria-hidden="true"></i><p>Next</p></div>
		<div class="current nav-button pseudo-button" ng-click="goToLatest()"><i class="fa fa-angle-double-right" aria-hidden="true"></i><p>Current</p></div>
	</div>
	<div id="admin-block" ng-if="authService.isUserAuthenticated()">
		<a href="#/edit" class="btn btn-primary">Edit Page</a>
		<div class="deleteComponent in" data-toggle="collapse" href=".deleteComponent">
			<button class="btn btn-danger">Delete Page</button>
		</div>

		<div class="collapse deleteComponent">
			<p>Are you sure you want to delete this page?</p>
			<div class="row">
				<button class="btn btn-danger" data-toggle="collapse" href=".deleteComponent" ng-click="deleteComicPage()">Delete</button>
				<button class="btn btn-default" data-toggle="collapse" href=".deleteComponent">Cancel</button>
			</div>
		</div>
	</div>
</div>

<h1 ng-if="!currentPage">Loading...</h1>

<div class="comic-footer">
	<div class="row">
		<div class="col-sm-3 col-md-2">
			<div class="comic-footer-sidebar">
				<ul>
					<li><a href="http://www.redbubble.com/people/cuteosphere/shop"><img class="img-responsive" src="images/store.png"></a></li>
					<li><a href="http://cuteosphere.tumblr.com/post/40192114710/"><img class="img-responsive" src="images/commissions.png"></a></li>
					<li><a href="https://www.paypal.com/uk/cgi-bin/webscr?cmd=_flow&SESSION=5RxBEhi2r6_iUHL0bPnRLSwmIH_W5MdvmnOVsNo1C_mz0h308GIIvjM15FC&dispatch=5885d80a13c0db1f8e263663d3faee8d4fe1dd75ca3bd4f11d72275b28239088"><img class="img-responsive" src="images/tips.png"></a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9 col-md-10">
			<div ng-if="currentPage" class="authors-notes">
				<h2>Authers notes title</h2>
				<div class="date-published"><span class="strong">Date published:</span> {{currentPage["date-published"].toLocaleString()}}</div>
				<div class="authers-notes-body">{{currentPage.comments}}</div>
				<div class="tags"><a ng-repeat="tag in currentPage.tags" href="{{tag}}">{{tag}} </a></div>
			</div>
		</div>
	</div>
</div>
