/* home CSS */

.comic-image{
	display: inline-block !important;
}

/* align the comic footer text to the left */
.comic-footer{
	text-align: left;
	margin: 10px;
}

/* Push the links sidebar to the left */
.comic-footer-sidebar{
	background-color: #efefef;
	border-radius: 15px;
	padding: 1px 15px 1px 15px;
}

.comic-footer-sidebar ul{
	list-style: none;
	padding: 0px;
}

.comic-footer-sidebar li{
	padding: 15px 0px 0px 0px;
	text-align: center;
}

.comic-footer-sidebar img{
	margin-left: auto;
	margin-right: auto;
}

/* Make a space to the left for the links sidebar */
.authors-notes{
	background-color: #efefef;
	border-radius: 15px;
	padding: 1px 15px 1px 15px;
	margin-left: -15px; /* Narrow down the gutter between the sidebar and notes */
}