/* Cast CSS */

.cast-list{
	text-align: left;
	margin-left: 4%;
	margin-right: 4%
}

.cast-container{
	background-color: #efefef;
	border-radius: 15px;
	margin-bottom: 15px;
	padding:15px;
}

.cast-line-right{
	text-align: right;
}

.cast-property-name{
	text-align: right;
	padding-right:2px;
	font-weight: bold;
}

.cast-property-value{
	text-align: left;
	padding-left:2px;
}

.cast-portrait img{
	width: 200px;
}
